

.access-holder {
    text-align: center;
    margin: 20% 0px;
    border: 1px solid black;
    border-radius: 10px;
        

}

.form-title {
    text-align: center;
    font-size: larger;
    font-weight: 600;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.reg-div{
    text-align: left;
    
}

.reg-div p {
    display: inline;
    margin-left: 10px;
    margin-bottom: 5px;
    
}

.reg-link {
    display: inline;
    margin: 5px 5px;
}


